git+https://github.com/SENERGY-Platform/export-worker-lib@0.29.1
git+https://github.com/SENERGY-Platform/concurrency-watchdog.git@0.1.1
git+https://github.com/y-du/simple-env-var-manager.git@2.3.0
psycopg2>=2.9,<3
pgcopy<2